.circle{
    height: 140px;
    width: 140px;
    background:url("https://i.pinimg.com/originals/ca/76/0b/ca760b70976b52578da88e06973af542.jpg") ;
    border-radius: 50%;
    background-size: cover;
}
